@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

.navbar-toggler-icon {
	cursor: pointer;
}

.article.container {
	img {
		width: 100%;
		height: auto;
	}
}

.article-deck {
	margin: 1em 0;
}

.article-card {
	border: none;

	.card-body {
		background-color: $color-anred;

		a {
			color: #fff;
		}
	}

	.card-footer {
		border-top: none;
	}

	.comments-counter {
		font-size: .85rem;
	}
}

h3.title {
	margin: 0 15px;
	padding: 0;
	border-bottom: solid 3px $color-anred;
}

.category-featured {
	margin: 1rem 0;

	.footer {
		padding: 0.75rem 1.25rem;
		color: #6c757d;
		background-color: rgba(0, 0, 0, 0.03);
	}
}

iframe {
	width: 100%;
}

.embed-responsive-anred {
	&::before {
		padding-top: percentage(480 / 640);
	}
}

#videoModal {
	z-index: 9999;
}

/*
** Search
*/

.search-results {
	margin-top: 60px;
	list-style: none;

	.result {
		h5 {
			margin-bottom: 0;
		}

		.date {
			font-size: .8em;
			margin-bottom: .5em;
		}

		h5, .date, p {
			padding-left: 115px;
		}

		img {
			float: left;
		}

		margin-bottom: 2em;
	}
}

/*
** Sidebar
*/

.sidebar {
	padding-left: 0;
}

.convocatoria {
	&.container {
		margin-top: 60px;
	}
}


.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote {
	width: 100%;

	p {
		font-family: Georgia, serif;
		font-size: 2em;
		font-style: italic;
		margin: 0.25em 0;
		padding: 0.25em 40px;
		line-height: 1.45;
		position: relative;
		color: #383838;

		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}

	p:before {
		display: block;
		content: "\201C";
		font-size: 80px;
		position: absolute;
		left: -20px;
		top: -20px;
		color: #7a7a7a;
	}
}

.container.archive {
	margin-top: 60px;

	h1 {
		margin-left: 15px;
		margin-bottom: .5em;
		border-bottom: solid 3px $color-anred;
	}

	ul {
		list-style: none;
		padding-left: 15px;
	}

	.widget {
		.title {
			display: none;
		}
	}

	.result {
		h5 {
			margin-bottom: 0;
		}

		.date {
			font-size: .8em;
			margin-bottom: .5em;
		}

		h5, .date, p {
			padding-left: 115px;
		}

		img {
			float: left;
		}

		margin-bottom: 2em;
	}
}