.navbar {
	padding: 0;
	z-index: 9997;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	background-color: rgba(248, 249, 250, .95);

	.navbar-toggler {
		border: none;
	}

	.nav-link {
		display: block;
		padding: 0.5rem 1rem;
	}

	.dropdown-menu {
		background-color: rgba(255, 255, 255, .95);
	}
}

.admin-bar .navbar {
	margin-top: 32px;
}

.search-form .btn {
	background-color: #fff;
	color: $color-anred;
	border: 1px solid #ced4da;
	border-left: none;
}

.navbar-brand .logo {
	height: 50px;
	width: 150px;
}

.paging-navigation {
	font-family: sans-serif;
	border-top: solid 2px $color-anred;
	margin-top: 2em;
	padding: 2em 1em 1em 1em;
	background: #fff;
	background: hsl(0, 0%, 100%);
	text-align: center;
}

.paging-navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.paging-navigation li {
	display: inline;
}

a.page-numbers,
span.page-numbers {
	padding: .3em .7em;
	color: #333;
	color: hsl(0, 0%, 20%);
}

a:hover.page-numbers {
	color: #000;
	color: hsl(0, 0%, 0%);
}

.paging-navigation .current {
	font-weight: bold;
	color: #000;
	color: hsl(0, 0%, 0%);
}