.widget_anred_social_follow {
	text-align: center;
	a {
		font-size: 1.5em;
		color: #fff;
		padding: .25em;
	}
}

.convocatorias {
	list-style: none;
	padding: 0 15px;
	font-size: .85em;
	color: #6c757d;
	margin-top: .5em;
	text-align: justify;

	li:before {
		content: "-";
		padding-right: 6px;
	}

	li {
		padding-bottom: .75em;
	}
}

.comunicados {
	list-style: none;
	padding: 0 15px;
	font-size: .85em;
	color: #6c757d;
	margin-top: .5em;
	text-align: justify;

	li {
		padding-bottom: .75em;
	}
}

.widget {
	margin-bottom: 2em;
}

.populares {
	font-size: .85em;
	font-weight: 700;

	li {
		padding-bottom: .75em;
	}
}